@media (min-width: 1000px) and (max-width: 1200px) {
  .fa-brands {
    font-size: 24px;
  }

  .homepage {
    position: absolute;
    top: 15%;
    left: 20%;
    max-width: 75%;
  }

  .main-slider {
    max-width: 95%;
    min-height: 20vh;
    margin-left: 6rem;
  }

  .test {
    text-align: center;
    margin-top: 5rem;
  }

  .home-text {
    text-align: center;
    margin-bottom: 1rem;
  }

  .select-text {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 18px;
  }

  .registration {
    position: absolute;
    top: 1%;
    left: 20%;
    max-width: 75%;
  }

  .log-in {
    position: absolute;
    top: 20%;
    left: 20%;
    max-width: 75%;
  }

  .reservations,
  .my-reservations {
    position: absolute;
    top: 10%;
    left: 32%;
  }

  .details {
    position: absolute;
    top: 10%;
    left: 30%;
    max-width: 60%;
  }

  .add-car {
    width: 700px;
  }

  .details-right {
    margin-top: 25rem;
    margin-left: 10rem;
  }

  .detailed-card {
    width: 25rem;
  }

  .btn-reserve {
    background-color: #97bf0f;
    margin-top: 3rem;
  }

  .table {
    width: 45rem;
  }

  .mobile-image-slider {
    display: none;
  }

  .card-img-top {
    max-width: 25rem;
    height: 10rem;
  }

  .car-desc {
    max-width: 25rem;
    height: 10rem;
    overflow-y: scroll;
  }

  .car-img-details {
    max-width: 40rem;
    height: 25rem;
  }
}
