.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}

.logo {
  width: 220px;
  height: 220px;
  margin-left: -1rem;
  margin-bottom: 3rem;
}

.active {
  background-color: #97bf0f;
  color: white;
}

a {
  color: black;
}

.fa-brands {
  font-size: 24px;
}

.mobile-nav-bar {
  display: none;
}
