body {
  overflow-x: hidden;
}

.logo {
  width: 220px;
  height: 220px;
  margin-left: -1rem;
  margin-bottom: 3rem;
}

.active {
  background-color: #97bf0f;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

.fa-brands {
  font-size: 24px;
}

.mobile-nav-bar {
  display: none;
}

.homepage {
  position: absolute;
  top: 15%;
  left: 20%;
  max-width: 75%;
}

.card-desc {
  height: 10rem;
  overflow-y: scroll;
}
